*.iml
*.ipr
*.iws

.gradle
.gradle/

/local.properties

.idea/
/.idea/workspace.xml
/.idea/libraries

*~.DS_Store
.DS_Store

out/
/build
**/build/

/captures
.externalNativeBuild
.classpath
.project

proguard/

*.dex

*.class